.base_text_field_container {
    width: fit-content;
    height: fit-content;
}

.base_text_field {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: start;
    align-items: center;
    width: var(--text-field-width);
    height: 56px;
    outline: var(--outline) 1px solid;
    outline-offset: -1px;
    background-color: transparent;
    border-radius: var(--corner-extra-small);
    cursor: text;
    --text-field-width: 240px;
    --text-field-focus-animation-time: 0.2s;
    --text-field-label-background-color: var(--surface);
}

.base_text_field:hover {
    outline-color: var(--on-surface);
}

.base_text_field:has(> .base_text_field_input:focus) {
    outline: var(--primary) 2px solid;
    outline-offset: -2px;
}

.base_text_field_input_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.base_text_field_leading_icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 16px;
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    fill: var(--on-surface-variant);
    transition: var(--dark-mode-animation-time) fill;
}

.base_text_field_left_spacer {
    width: 16px;
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
}

.base_text_field_input {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 4px);
    padding: 0;
    background-color: inherit;
    border: 0;
    outline: none;
    color: var(--on-surface);
    caret-color: var(--primary);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    transition: var(--dark-mode-animation-time) color;
}

.base_text_field_input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--on-surface);
}

.base_text_field_trailing_icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 12px;
    grid-row-start: 1;
    grid-column-start: 3;
    z-index: 1;
    fill: var(--on-surface-variant);
    transition: var(--dark-mode-animation-time) fill;
}

.base_text_field_right_spacer {
    width: 16px;
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 3;
}

.base_text_field_content_wrapper {
    display: inline;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.base_text_field_label {
    position: relative;
    display: block;
    width: fit-content;
    height: 24px;
    left: 16px;
    top: 16px;
    color: var(--on-surface-variant);
    transition: var(--dark-mode-animation-time) color, var(--dark-mode-animation-time) background-color, var(--text-field-focus-animation-time) translate, var(--text-field-focus-animation-time) font-size, var(--text-field-focus-animation-time) height, var(--text-field-focus-animation-time) line-height;
}

.base_text_field:hover .base_text_field_content_wrapper .base_text_field_label {
    color: var(--on-surface);
}

.base_text_field_label_offset {
    translate: 36px 0;
}

.base_text_field_label_populated, .base_text_field_input:focus ~ .base_text_field_content_wrapper .base_text_field_label {
    translate: -4px -24px;
    font-size: calc(12 * var(--sp)) !important;
    height: 16px;
    left: 12px;
    line-height: 16px !important;
    background-color: var(--text-field-label-background-color);
    padding: 0 4px 0 4px;
    border-radius: var(--corner-extra-small);
}

.base_text_field_input:focus ~ .base_text_field_content_wrapper .base_text_field_label {
    color: var(--primary);
}

.base_text_field_supporting_text {
    position: relative;
    display: block;
    width: calc(100% - 32px);
    margin: 4px 16px 0 16px;
    color: var(--on-surface-variant);
}