{% set base_namespace = namespace(stylesheets_to_load = [], scripts_to_load = [], loaded_component_dependencies = [], needed_component_dependencies = []) %}
{% import "./base/components.html" as components with context %}

{% block dependencies %}{% endblock %}

{# Stylesheets #}
{% do base_namespace.stylesheets_to_load.append("base/constants") %}
{% do base_namespace.stylesheets_to_load.append("base/classes") %}
{% do base_namespace.stylesheets_to_load.append("base/base") %}

{# Scripts #}
{% do base_namespace.scripts_to_load.append("base/base") %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        {% for stylesheet in base_namespace.stylesheets_to_load %}
            <link rel="stylesheet" href="{{ url_for('static', filename='style/' + stylesheet + '.css') }}">
        {% endfor %}

        {% for script in base_namespace.scripts_to_load %}
            <script src="{{ url_for('static', filename='js/' + script + '.js') }}" type="module"></script>
        {% endfor %}

        {% if logo_location %}
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename=logo_location) }}">
        {% endif %}

        {% if title %}
            <title>{{ title }}</title>
        {% endif %}
    </head>
    <body class="font_body_medium no-initial-animation">
        {# Top Bar #}
        {% if self.top_bar() %}
            <div id="top_bar">
                {% block top_bar %}{% endblock %}
            </div>
        {% endif %}

        {# Content of the site #}
        <div id="content" class="no-initial-animation">
            {% if self.top_bar() %}
                <div id="content_top_spacer"></div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        {# Flashed messages #}
        {% block flashed_messages %}
            {% if get_flashed_messages() %}
                <div id="flashed_message_wrapper">
                    <div id="flashed_message">
                        {% for message in get_flashed_messages() %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </body>
</html>