{% macro load_component_dependencies(needed_components, folder="components") %}
    {% for component_name in needed_components %}
        {% if component_name not in base_namespace.loaded_component_dependencies %}
            {% do base_namespace.loaded_component_dependencies.append(component_name) %}
            {% do base_namespace.scripts_to_load.append("components/" + component_name) %}
            {% do base_namespace.stylesheets_to_load.append("components/" + component_name) %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro image_svg(svg_location, id = None, classes = None) %}
    {{ load_svg_unsafe(svg_location, id, classes) | safe }}
{% endmacro %}

{% macro icon_svg(icon_location, should_be_filled = False, id = None, classes = None) %}
    {{ image_svg("image/icon/" + icon_location + ('_filled' if should_be_filled else '') + ".svg", id, classes) }}
{% endmacro %}

{% macro button_elevated(button_id, label, icon = None, click_callback = None, keys = None) %}
    {% do base_namespace.needed_component_dependencies.append('button') if 'button' not in base_namespace.needed_component_dependencies %}
    <div id="{{ button_id }}" class="base_button base_button_elevated base_state_layer_container no-initial-animation" {{ 'onclick=' + click_callback if click_callback }} {{ ('keys="' + keys|string + '"')|safe if keys }}>
        <div class="base_state_layer"></div>
        {% if icon %}
            {{ icon_svg(icon, id=button_id + "_icon", classes=["base_button_elevated_icon", "no-initial-animation"]) }}
        {% endif %}
        <span id="{{ button_id }}_label" class="base_button_elevated_label font_label_large no-initial-animation">{{ label }}</span>
    </div>
{% endmacro %}

{% macro button_filled(button_id, label, icon = None, click_callback = None, keys = None) %}
    {% do base_namespace.needed_component_dependencies.append('button') if 'button' not in base_namespace.needed_component_dependencies %}
    <div id="{{ button_id }}" class="base_button base_button_filled base_state_layer_container no-initial-animation" {{ 'onclick=' + click_callback if click_callback }} {{ ('keys="' + keys|string + '"')|safe if keys }}>
        <div class="base_state_layer"></div>
        {% if icon %}
            {{ icon_svg(icon, id=button_id + "_icon", classes=["base_button_filled_icon", "no-initial-animation"]) }}
        {% endif %}
        <span id="{{ button_id }}_label" class="base_button_filled_label font_label_large no-initial-animation">{{ label }}</span>
    </div>
{% endmacro %}

{% macro button_outlined(button_id, label, icon = None, click_callback = None, keys = None) %}
    {% do base_namespace.needed_component_dependencies.append('button') if 'button' not in base_namespace.needed_component_dependencies %}
    <div id="{{ button_id }}" class="base_button base_button_outlined base_state_layer_container no-initial-animation" {{ 'onclick=' + click_callback if click_callback }} {{ ('keys="' + keys|string + '"')|safe if keys }}>
        <div class="base_state_layer"></div>
        {% if icon %}
            {{ icon_svg(icon, id=button_id + "_icon", classes=["base_button_outlined_icon", "no-initial-animation"]) }}
        {% endif %}
        <span id="{{ button_id }}_label" class="base_button_outlined_label font_label_large no-initial-animation">{{ label }}</span>
    </div>
{% endmacro %}

    {% macro button_floating_action(button_id, icon, size="medium", click_callback = None, keys = None) %}
    {% do base_namespace.needed_component_dependencies.append('button') if 'button' not in base_namespace.needed_component_dependencies %}
    <div id="{{ button_id }}" class="base_button base_button_floating_action base_state_layer_container no-initial-animation {{ 'base_button_floating_action_small' if size == "small" }} {{ 'base_button_floating_action_large' if size == "large" }}" {{ 'onclick=' + click_callback if click_callback }} {{ ('keys="' + keys|string + '"')|safe if keys }}>
        <div class="base_state_layer"></div>
        {{ icon_svg(icon, id=button_id + "_icon", classes=["base_button_floating_action_icon", "no-initial-animation"]) }}
    </div>
{% endmacro %}

{% macro switch(switch_id, icons = None, labels = None, default_state_function = None, switch_callback = None) %}
    {% do base_namespace.needed_component_dependencies.append('switch') if 'switch' not in base_namespace.needed_component_dependencies %}
    <div id="{{ switch_id }}" class="base_switch no-initial-animation" {{("defaultStateFunction=" + default_state_function) if default_state_function }}>
        <label id="{{ switch_id }}_container" class="base_switch_container no-initial-animation" onmousedown="window.switchFunctions.switchPress(event, '{{ switch_id }}')" ondragstart="window.switchFunctions.switchCancelToggle('{{ switch_id }}')">
            <input type="checkbox" id="{{ switch_id }}_input" class="base_switch_input no-initial-animation" onchange="window.switchFunctions.switchToggle('{{ switch_id }}'{{ (", " + switch_callback) if switch_callback }})">
            <div id="{{ switch_id }}_track" class="base_switch_track no-initial-animation"></div>
            <div id="{{ switch_id }}_thumb" class="base_state_layer_container base_switch_thumb no-initial-animation {{ "base_switch_thumb_with_icon" if icons }}">
                <div class="base_state_layer"></div>
                {% if icons %}
                    {% if icons|length == 1 %}
                        {{ icon_svg(icons[0], id=switch_id + "_icon", classes=["base_switch_icon", "no-initial-animation"]) if icons[0] }}
                    {% elif icons|length == 2 %}
                        {{ icon_svg(icons[0], id=switch_id + "_icon_off", classes=["base_switch_icon_off", "no-initial-animation"]) if icons[0] }}
                        {{ icon_svg(icons[1], id=switch_id + "_icon_on", classes=["base_switch_icon_on", "no-initial-animation"]) if icons[1] }}
                    {% endif %}
                {% endif %}
            </div>
        </label>
        {% if labels %}
            <span style="display: grid">
                {% if labels|length == 1 %}
                    <span id="{{ switch_id }}_label" class="base_switch_label no-initial-animation">{{ labels[0] }}</span>
                {% elif labels|length == 2 %}
                    <span id="{{ switch_id }}_label_off" class="base_switch_label no-initial-animation">{{ labels[0] }}</span>
                    <span id="{{ switch_id }}_label_on" class="base_switch_label no-initial-animation">{{ labels[1] }}</span>
                {% endif %}
            </span>
        {% endif %}
    </div>
{% endmacro %}

{% macro text_field_outline(text_field_id, is_password = False, label = None, leading_icon = None, trailing_icon = None, supporting_text = None) %}
    {% do base_namespace.needed_component_dependencies.append('text_field') if 'text_field' not in base_namespace.needed_component_dependencies %}
    <div class="base_text_field_container no-initial-animation">
        <label id="{{ text_field_id }}" class="base_text_field no-initial-animation">
            {% if leading_icon %}
                {{ icon_svg(leading_icon, id=text_field_id+"_leading_icon", classes=["base_text_field_leading_icon", "no-initial-animation"]) }}
            {% else %}
                <div class="base_text_field_left_spacer"></div>
            {% endif %}
            <input type="{{ 'password' if is_password else 'text' }}" id="{{ text_field_id }}_input" class="base_text_field_input font_body_large no-initial-animation" name="{{ text_field_id }}" oninput="window.textFieldFunctions.textFieldInput('{{ text_field_id }}')">
            {% if trailing_icon %}
                {{ icon_svg(trailing_icon, id=text_field_id+"_trailing_icon", classes=["base_text_field_trailing_icon", "no-initial-animation"]) }}
            {% else %}
                <div class="base_text_field_right_spacer"></div>
            {% endif %}
            {% if label %}
                <div class="base_text_field_content_wrapper">
                    <span id="{{ text_field_id }}_label" class="base_text_field_label font_body_large no-initial-animation {{ "base_text_field_label_offset" if leading_icon }}">{{ label }}</span>
                </div>
            {% endif %}
        </label>
        {% if supporting_text %}
            <span id="{{ text_field_id }}_supporting_text" class="base_text_field_supporting_text font_body_small no-initial-animation">{{ supporting_text }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro navigation_drawer_button(navigation_drawer_button_id, label, icon = None, badge = None, is_active = False, click_callback = None) %}
    <div id="{{ navigation_drawer_button_id }}" class="base_navigation_drawer_button base_state_layer_container no-initial-animation {{ "base_navigation_drawer_button_active" if is_active }}" {{ 'onclick=' + click_callback if click_callback }}>
        {% if not is_active %}
            <div class="base_state_layer"></div>
        {% endif %}

        <div class="base_navigation_drawer_button_content">
            {% if icon %}
                {{ icon_svg(icon, id=navigation_drawer_button_id+"_icon", classes=["base_navigation_drawer_button_icon", "no-initial-animation"]) }}
            {% endif %}

            <span id="{{ navigation_drawer_button_id }}_label" class="base_navigation_drawer_button_label font_label_large no-initial-animation">{{ label }}</span>

            {% if badge %}
                <span id="{{ navigation_drawer_button_id }}_badge" class="base_navigation_drawer_button_badge no-initial-animation">{{ badge }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro navigation_drawer_headline(navigation_drawer_headline_id, headline_text) %}
    <div id="{{ navigation_drawer_headline_id }}" class="base_navigation_drawer_headline font_title_small no-initial-animation">{{ headline_text }}</div>
{% endmacro %}

{% macro navigation_drawer_seperator() %}
    <hr class="base_navigation_drawer_seperator no-initial-animation">
{% endmacro %}