{% extends "./base/base.html" %}

{% block dependencies %}
    {% do base_namespace.stylesheets_to_load.append("base/navigation_base") %}
    {% do base_namespace.scripts_to_load.append("base/navigation_base") %}
{% endblock %}

{% block top_bar %}
    <div id="name" class="navigation_element">
        <a href="/" class="hidden_link">
            <div class="font_display_small">
                ella paulussen
            </div>
        </a>
    </div>
    <div id="navigation_spacer"></div>
    <div id="navigation_elements">
        <div id="portfolio" class="navigation_element">
            <a href="/" class="hidden_link">
                <div class="font_title_large navigation_element_underline">
                    PORTFOLIO
                </div>
            </a>
        </div>
        <div id="exhibitions" class="navigation_element">
            <a href="/exhibition" class="hidden_link">
                <div class="font_title_large navigation_element_underline">
                    AUSSTELLUNGEN
                </div>
            </a>
        </div>
        <div id="contact" class="navigation_element">
            <a href="/" class="hidden_link">
                <div class="font_title_large navigation_element_underline">
                    KONTAKT
                </div>
            </a>
        </div>
        <div id="instagram" class="navigation_element">
            <a href="https://www.instagram.com/">
                <div title="Instagram">
                    {{ components.icon_svg("instagram", id="instagram_icon") }}
                </div>
            </a>
        </div>
    </div>
    {{ components.icon_svg("menu", id="menu_icon") }}

    {% if page_name %}
        <script>
            const nav_bar_element = document.getElementById("{{ page_name }}");

            if(nav_bar_element != null)
            {
                nav_bar_element.classList.add("selected")
            }
        </script>
    {% endif %}
{% endblock %}